---
import type { MarkdownLayoutProps } from 'astro'
import '../styles/tailwind.css'
import Sidebar from '../components/Sidebar.astro'
import Main from '../components/Main.astro'
import Menu from '../components/Menu.astro'

type Props = MarkdownLayoutProps<{
	title: string
}>

const { frontmatter: { title }, headings } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{ title } - 旋元佑进阶文法</title>
  </head>
  <body class="flex h-screen bg-bgColor">
    <Sidebar title={ title }/>

    <Main title={ title }>
      <slot />
    </Main>

    <Menu headings={ headings }/>
  </body>
</html>
<style is:global>

</style>
