---
import type { MarkdownLayoutProps } from 'astro'
import Sidebar from './Sidebar.astro'

type Props = MarkdownLayoutProps<{
	title: string
	index: number
}>

const { frontmatter: { title }} = Astro.props
console.log(Astro.props)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{ title } - 旋元佑进阶文法</title>
  </head>
  <body>
    <Sidebar title={ title }/>

    <slot />
  </body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	h1{
		font-size: 2em;
		font-weight: bold;
	}
</style>
